body {
    margin: 0;
    padding: 0;
     -webkit-font-smoothing: antialiased;
    
    text-rendering: optimizeLegibility;
}

h1 {
 text-align: center;
 font-family:  cursive;
 font-variant-caps: all-small-caps;
    color: white;
   }
.navbar{
    background: linear-gradient(to bottom right, orange, white, green);
    border: none;

}
.container {
    background-color: ghostwhite;
    margin-top: -20px;
    border: none;
}
    
.navbar-logo {
    position: relative;
    bottom: 20px;
    color: deepskyblue;
    font-weight: bolder;
}

svg{
   margin-left: auto; 
   margin-right: auto;
   display: block;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    box-shadow: 1px 1px 1px white;
  }


  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
 


#add-row-button {
    margin-top: 25px;
    width: 100%;
}


tr .edit {
    display: none;
}

tr.edit .edit {
    display: initial;
}
tr.edit .noedit {
    display: none;
}

.fixed-box {
    max-width: 100px;
}






footer {
                margin-top: 5px;
                background-color: #464646;
                box-shadow: 0 -5px 25px -5px #333;
                padding: 30px; 
                text-align: center;
                color: white;
                }
           
.fa {
                color: #e3e3e3;
                margin: 20px ;
            }
            footer .instagram:hover {
                
                color: #517fa6;
                bottom:5px;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
            }
            footer .facebook:hover {
                
                color: #3b5998;
                bottom:5px;
                text-decoration: none;
                transition: all 0.2s ease-in-out;

            }
            footer .twitter:hover {
                color: #6cadde;
                bottom:5px;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
            }